In [1]:
#import libraries
import psycopg2
import pandas as pd

In [2]:
#define host(using localhost), db name, user and password
host="127.0.0.1"
database="Latihan"
user="postgres"
password="postgres"

In [3]:
#create connection
conn = psycopg2.connect(host=host, database=database, user=user, password = password)
cur = conn.cursor()

In [4]:
#read data
audience = pd.read_excel('Dataset/audience.xlsx')
campaign = pd.read_excel('Dataset/campaign.xlsx')
campaign_details = pd.read_excel('Dataset/campaign_details.xlsx')
delivorder = pd.read_csv('Dataset/delivorder.csv')
delivorder_item = pd.read_csv('Dataset/delivorder_item.csv')
distance = pd.read_excel('Dataset/distance.xlsx')
geographic = pd.read_excel('Dataset/geographic.xlsx')
plants = pd.read_excel('Dataset/plants.xlsx')
produk = pd.read_excel('Dataset/produk.xlsx')
sales_order2 = pd.read_excel('Dataset/sales_order2.xlsx')
search_keyword = pd.read_excel('Dataset/search_keyword.xlsx')
user_loc=pd.read_excel('Dataset/user_location.xlsx')

C:\Users\Nabila Annisa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Nabila Annisa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# Fungsi untuk Create All Tables
def create_tables(conn,cur):
    #Create Tables in the PostgreSQL Database
    conn = psycopg2.connect(host=host, database=database, user=user, password = password)
    cur = conn.cursor()
    commands= (
        """
        CREATE TABLE campaign (
            campaign VARCHAR(255),
            state VARCHAR(255),
            type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr INTEGER,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT,
            PRIMARY KEY (campaign)
        )
        """,
        """
        CREATE TABLE audience (
            audience_id SERIAL PRIMARY KEY,
            audience VARCHAR(255) ,
            audience_state VARCHAR(255) ,
            campaign VARCHAR(255) ,
            ad_group VARCHAR(255) ,
            ad_group_max_cpc INTEGER ,
            currency VARCHAR(255)  ,
            audience_max_cpc INTEGER ,
            bid_adj VARCHAR(255) ,
            targeting_setting VARCHAR(255) ,
            clicks INTEGER ,
            impressions INTEGER ,
            ctr FLOAT ,
            avg_cpc FLOAT ,
            cost FLOAT ,
            avg_cpm FLOAT , 
            FOREIGN KEY (campaign) 
                REFERENCES campaign(campaign)
                ON UPDATE CASCADE ON DELETE CASCADE)
        """, 
        
        """
        CREATE TABLE campaign_details (
            campaign VARCHAR (255) PRIMARY KEY ,
            state VARCHAR (255),
            type VARCHAR (255),
            subtype VARCHAR (255),
            labels VARCHAR (255),
            bid_strategy VARCHAR (255),
            bid_strategy_type VARCHAR (255),
            sitelinks_active INTEGER,
            sitelinks_disapproved INTEGER,
            phone_active INTEGER,
            phone_disapproved INTEGER,
            apps_active INTEGER,
            apps_disapproved INTEGER,
            apps_level VARCHAR (255),
            desktop_bid_adj VARCHAR (255),
            mobile_bid_adj VARCHAR (255),
            tablet_bid_adj VARCHAR (255),
            currency VARCHAR (255),
            clicks INTEGER,
            impressions INTEGER,
            ctr INTEGER,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT,
            FOREIGN KEY (campaign) 
                REFERENCES campaign(campaign)
                ON UPDATE CASCADE ON DELETE CASCADE
        )
        """,
        """
        CREATE TABLE delivorder (
            do_id INTEGER PRIMARY KEY ,
            do_tgl TEXT,
            do_org_id INTEGER,
            do_so_id INTEGER,
            do_tm_id FLOAT,
            do_nomor TEXT,
            do_driver_id FLOAT,
            do_status_verifikasi INTEGER,
            do_is_invoice INTEGER,
            do_is_tolak INTEGER,
            do_tolak_ket FLOAT,
            do_tgl_tolak FLOAT,
            do_jam_berangkat TEXT,
            do_ket FLOAT,
            do_bag_pengiriman_id FLOAT,
            do_createtime TEXT,
            do_tgl_terima TEXT,
            do_is_jurnal INTEGER,
            do_jam_terima TEXT,
            do_jam_datang_diproyek TEXT,
            do_jam_bongkar TEXT,
            do_tgl_datang_diproyek TEXT,
            do_tgl_bongkar TEXT,
            do_is_invoice_plant_utama INTEGER,
            do_stat_id FLOAT,
            do_tgl_pulang TEXT,
            do_jam_pulang TEXT,
            do_jarak_km FLOAT,
            do_ba_penolakan TEXT,
            do_pembuat_penolakan FLOAT,
            do_penyebab_penolakan TEXT,
            do_penyetuju_penolakan FLOAT,
            do_tld_id FLOAT,
            do_hari_ba_penolakan TEXT,
            do_tgl_ba_penolakan TEXT,
            do_barcode FLOAT,
            do_alasan_berkas_belum_terima FLOAT,
            do_is_berkas_diterima FLOAT,
            do_tgl_berkas_diterima TEXT,
            do_tempat_cor TEXT,
            do_lokasi_terima FLOAT
        )
        """,
        """
        CREATE TABLE delivorder_item (
            do_item_id SERIAL PRIMARY KEY,
            doi_id INTEGER,
            doi_do_id INTEGER,
            doi_soi_id INTEGER,
            doi_qty_kirim FLOAT,
            doi_qty_terima FLOAT,
            ket VARCHAR(255)
        )
        """,
        """
        CREATE TABLE distance (
            from_location VARCHAR(255) PRIMARY KEY, 
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate INTEGER
        )
        """,
        """
        CREATE TABLE geographic (
            geo_id SERIAL PRIMARY KEY,
            country_territory VARCHAR(255),
            region VARCHAR(255),
            metro_area VARCHAR(255),
            city VARCHAR(255),
            most_targeted_location VARCHAR(255),
            location_type VARCHAR(255),
            currency VARCHAR(255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost FLOAT,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_per_conv FLOAT,
            conv_rate FLOAT
        )
        """,
        """
        CREATE TABLE plants (
            plant VARCHAR (255) PRIMARY KEY,
            batching_tipe VARCHAR (255),
            batching_jml INTEGER,
            batching_kapasitas INTEGER,
            status VARCHAR (255),
            jml_truk FLOAT
        )
        """,
        """
        CREATE TABLE produk (
            no INTEGER PRIMARY KEY,
            mutu VARCHAR(255),
            spesifikasi VARCHAR(255),
            slump VARCHAR(255),
            spek_tambahan VARCHAR(255)
        )
        """,
        """
        CREATE TABLE sales_order2 (
            tanggal_pemesanan TIMESTAMP,
            nomor_kontrak_retail VARCHAR(255) PRIMARY KEY,
            pelanggan VARCHAR(255),
            jenis VARCHAR(255),
            nama_proyek VARCHAR(255),
            product VARCHAR(255),
            area VARCHAR(255),
            nilai INTEGER,
            status VARCHAR(255)
        )
        """,
        """
        CREATE TABLE search_keyword (
            key_id SERIAL PRIMARY KEY,
            keyword VARCHAR (255),
            keyword_status VARCHAR (255),
            keyword_match_type VARCHAR (255),
            campaign VARCHAR (255),
            ad_group VARCHAR (255),
            keyword_max_cpc INTEGER,
            currency VARCHAR (255),
            clicks INTEGER,
            impressions INTEGER,
            ctr FLOAT,
            avg_cpc FLOAT,
            cost INTEGER,
            impr_abs_top FLOAT,
            impr_top FLOAT,
            conversions FLOAT,
            view_through_conv INTEGER,
            cost_conv FLOAT,
            conv_rate FLOAT,
            avg_cpm FLOAT
        )
        """,
        """
        CREATE TABLE user_location (
            loc_id SERIAL PRIMARY KEY,
            country VARCHAR (255),
			region VARCHAR (255),
			metro_area VARCHAR (255),
			city VARCHAR (255),
			most_targeted_location VARCHAR (255),
			location_type VARCHAR (255),
			currency VARCHAR (255),
			clicks INTEGER,
			impressions INTEGER,
			ctr FLOAT,
			avg_cpc FLOAT,
			cost INTEGER,
			impr_abs_top FLOAT,
			impr_top FLOAT,
			conversions FLOAT,
			view_through_conv INTEGER,
			cost_conv FLOAT,
			conv_rate FLOAT
        )
        """,
    )
    for command in commands:
        cur.execute(command)
    conn.commit() # untuk ngesave perubahan yg kita buat
#     cur.close()

In [6]:
#create fungsi untuk memasukkan data ke db menggunakan syntax sql Insert Into
def insert_into(tabel,namatabel,conn,cur):
    # creating column list for insertion
    conn = psycopg2.connect(host=host, database=database, user=user, password = password)
    cur = conn.cursor()    
    cols = ",".join([str(i) for i in tabel.columns.tolist()])
    
    # Insert DataFrame recrds one by one.
    for i,row in tabel.iterrows():
#         print(row)
        sql = "INSERT INTO "+namatabel+" (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)" 
        cur.execute(sql, tuple(row))
    
        # the connection is not autocommitted by default, so we must commit to save our changes
        conn.commit()

In [7]:
create_tables(conn,cur)

In [8]:
insert_into(campaign,'campaign',conn,cur)

In [9]:
insert_into(campaign_details,'campaign_details',conn,cur)

In [10]:
insert_into(audience,'audience',conn,cur)

In [11]:
#untuk menginput seluruh data dari tabel delivorder
insert_into(delivorder,'delivorder',conn,cur)

#untuk membatasi inputan hanya 1000 rows
#insert_into(delivorder.iloc[:1000,:],'delivorder',conn,cur)

In [12]:
#untuk menginput seluruh data dari tabel delivorder
# insert_into(delivorder_item,'delivorder_item',conn,cur)

#untuk membatasi input hanya 1000 rows
insert_into(delivorder_item.iloc[:1000,:],'delivorder_item',conn,cur)

In [13]:
insert_into(distance,'distance',conn,cur)

In [14]:
insert_into(geographic,'geographic',conn,cur)

In [15]:
insert_into(plants,'plants',conn,cur)

In [16]:
insert_into(produk,'produk',conn,cur)

In [17]:
insert_into(sales_order2,'sales_order2',conn,cur)

In [18]:
insert_into(search_keyword,'search_keyword',conn,cur)

In [19]:
insert_into(user_loc,'user_location',conn,cur)